<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cuileikun.androidbase">

    <!-- 拨打电话权限 add by clk on -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 拨打电话权限 add by clk off -->
    <!-- 短信验证需要的权限start -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 短信验证需要的权限stop -->
    <!-- 发送短信需要的权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 读取联系人权限 add by clk on -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.BaseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AndroidBaseActivity" />
        <activity android:name=".activity.first.AndroidBaseFirstActivity" />
        <activity android:name=".activity.AndroidBaseSecondActivity" />
        <activity android:name=".activity.second.DoXmlActivity" />
        <activity android:name=".activity.second.UserLoginDataActivity" />
        <activity android:name=".activity.second.FilePermissionActivity" />
        <activity android:name=".activity.second.UserLoginSdcardActivity" />
        <activity android:name=".activity.second.GetSdcardSizeActivity" />
        <activity android:name=".activity.second.UserLoginSpActivity" />
        <activity android:name=".activity.second.LogActivity" />
        <activity android:name=".activity.AndroidBaseThirdActivity" />
        <activity android:name=".activity.third.SqliteActivity" />
        <activity android:name=".activity.third.ListviewActivity" />
        <activity android:name=".activity.third.ContactActivity" />
        <activity android:name=".activity.third.ArrayAdapterActivity" />
        <activity android:name=".activity.AndroidBaseFouthActivity" />
        <activity android:name=".activity.fouth.YuanMaActivity" />
        <activity android:name=".activity.fouth.AnrActivity" />
        <activity android:name=".activity.fouth.LookPictureActivity" />
        <activity android:name=".activity.fouth.ModifyLookPictureActivity" />
        <activity android:name=".activity.fouth.HandlerActivity" />
        <activity android:name=".activity.fouth.NewsActivity" />
        <activity android:name=".activity.fouth.SmartImageViewActivity" />
        <activity android:name=".activity.AndroidBaseFivthActivity" />
        <activity android:name=".activity.fifth.LoginActivity" />
        <activity android:name=".activity.fifth.HttpClientActivity" />
        <activity android:name=".activity.fifth.AsyncHttpClientActivity" />
        <activity android:name=".activity.fifth.MoreThreadActivity" />
        <activity android:name=".activity.fifth.FreeMoreThreadActivity" />
        <activity android:name=".activity.AndroidBaseSixActivity" />
        <activity android:name=".activity.sixth.NewActivity" />
        <activity android:name=".activity.sixth.RenPinCalculatorActivity" />
        <activity android:name=".activity.sixth.AllMessageActivity" />
        <activity android:name=".activity.sixth.SendMessageActivity" />
        <activity android:name=".activity.sixth.LifeActivity" />
        <activity android:name=".activity.sixth.TransparentUseActivity" />
        <activity android:name=".activity.sixth.StartMethodActivity" />
        <activity android:name=".activity.sixth.Test2Activity" />
        <activity android:name=".activity.sixth.TestActivity">
            <intent-filter>
                <action android:name="com.itheima.testactivity" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="aa/bb"
                    android:scheme="itheima" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.itheima.testactivity" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="aa/bb1"
                    android:scheme="itheima1" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.sixth.ResultActivity" />
        <activity android:name=".activity.sixth.ContactActivityThird" />
        <activity android:name=".activity.sixth.SmsTempleateActivity" />
        <activity android:name=".activity.sixth.TestActivit" />
        <activity
            android:name=".activity.sixth.SecondActivity"
            android:launchMode="singleInstance" />
        <!-- plugin findViewByMe -->
        <activity android:name=".activity.test.TestFindViewByMe" />
        <activity android:name=".activity.AndroidBaseSevenActivity" />
        <activity android:name=".activity.seventh.IpDialerActivity" />
        <activity android:name=".activity.seventh.ListenSdcardStateActivity" />
        <activity android:name=".activity.seventh.PowerSavingAssistantActivity" />
        <activity android:name=".activity.seventh.UninstallInstallActivity" />
        <activity android:name=".activity.seventh.PhoneRestartActivity" />
        <activity android:name=".activity.seventh.SendUnorderedBroadcastActivity" />
        <activity android:name=".activity.seventh.ReceiveUnorderedBroadcastActivity" />
        <activity android:name=".activity.seventh.XidadaFenRiceEightActivity" />
        <activity android:name=".activity.seventh.XidadaFenRiceActivity" />
        <activity android:name=".activity.seventh.SpecalBroadcasterActivity" />
        <activity android:name=".activity.seventh.ThemeStyleActivity" />
        <activity android:name=".activity.seventh.GlobalizationActivity" />
        <activity android:name=".activity.seventh.DialogActivity" />
        <activity android:name=".activity.seventh.FrameAnimationActivity" />
        <activity android:name=".activity.AndroidBaseEightActivity" />
        <activity android:name=".activity.eight.BaseServiceActivity" />
        "
        <activity android:name=".activity.eight.ListenCallActivity" />
        "
        <activity android:name=".activity.eight.ServiceBrocastActivity" />
        "
        <activity android:name=".activity.eight.UseBindServiceActivity" />
        "
        <activity android:name=".activity.eight.BindServiceActivity" />
        "
        <activity android:name=".activity.eight.BaiduMusiceActivity" />
        "
        <activity android:name=".activity.eight.RemoteServiceActivity" />
        "
        <activity android:name=".activity.eight.LocalServiceActivity" />
        "
        <activity android:name=".activity.eight.ZhifubaoActivity" />
        "
        <activity android:name=".activity.AndroidBaseNineActivity" />
        <activity android:name=".activity.nine.CreatePrivateDbActivity" />
        <activity android:name=".activity.nine.ReadTheFirstAppcontentActivity" />
        <activity android:name=".activity.nine.MessageBackupActivity" />
        <activity android:name=".activity.nine.SearchContactActivity" />
        <activity android:name=".activity.nine.UseNeirongJiexiActivity" />
        <activity android:name=".activity.nine.CustomContentObserverActivity" />
        <activity android:name=".activity.nine.ListenTheMessageActivity" />
        <activity android:name=".activity.AndroidBaseTenActivity" />
        <activity android:name=".activity.ten.LoadBigImageActivity" />
        <activity android:name=".activity.ten.CreateOriginImageBackupActivity" />
        <activity android:name=".activity.ten.DealImageActivity" />
        <activity android:name=".activity.ten.PaintActivity" />
        <activity android:name=".activity.ten.TearClothesActivity" />
        <activity android:name=".activity.ten.PlayAudioActivity" />
        <activity android:name=".activity.ten.BaiduMusicActivity" />
        <activity android:name=".activity.ten.PlayNetSongActivity" />
        <activity android:name=".activity.ten.PlayAviActivity" />
        <activity android:name=".activity.ten.UseVideoViewActivity" />
        <activity android:name=".activity.ten.TakePhotoAviActivity" />
        <activity android:name=".activity.AndroidBaseElevenActivity" />
        <activity android:name=".activity.eleven.FragmentZeroActivity" />
        <activity android:name=".activity.eleven.InsteadFragmentActivity" />
        <activity android:name=".activity.eleven.WeixinMainContentActivity" />
        <activity android:name=".activity.eleven.FragmentLowVersionActivity" />
        <activity android:name=".activity.eleven.FragmentLifeActivity" />
        <activity android:name=".activity.eleven.FragmentContactActivity" />
        <activity android:name=".activity.eleven.MenuActivity" />
        <activity android:name=".activity.eleven.AutoCompleteTextViewActivity" />
        <activity android:name=".activity.eleven.ViewAnimActivity" />
        <activity android:name=".activity.eleven.XmlTweenedAnimationActivity" />
        <activity android:name=".activity.eleven.NoticationActivity" />
        <activity android:name=".activity.eleven.BackupMessageActivity" />

        <!-- 配置广播接收者 -->
        <receiver android:name=".receiver.OutGoingCallReceiver">
            <intent-filter>

                <!-- 调到了一个合适的频道 -->
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.SdcardReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.AppStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.ReceiveCustomReceiver">
            <intent-filter>
                <action android:name="com.itheima.custom" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.ProvienceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="com.itheima.rice" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.CityReceiver">
            <intent-filter android:priority="500">
                <action android:name="com.itheima.rice" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.CountryReceiver">
            <intent-filter android:priority="100">
                <action android:name="com.itheima.rice" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.NongMinReceiver">
            <intent-filter android:priority="-100">
                <action android:name="com.itheima.rice" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.BootReceiverSecond">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- 配置Service -->
        <service android:name=".service.DemoService" />
        <service android:name=".service.PhoneService" />
        <service android:name=".service.ScreenService" />
        <service android:name=".service.TestService" />
        <service android:name=".service.BanZhengService" />
        <service android:name=".service.MusicService" />
        <service android:name=".service.MMusicService" />

        <!-- 配置provider -->
        <provider
            android:name=".provider.AccountProvider"
            android:authorities="com.itheima.provider" />

        <activity android:name=".javaactivity.JavaBaseActivity" />
        <activity android:name=".javaactivity.Java1Activity" />
        <activity android:name=".javaactivity.two.Java2Activity" />
        <activity android:name=".javaactivity.three.Java3Activity" />
        <activity android:name=".javaactivity.four.Java4Activity" />
        <activity android:name=".javaactivity.five.Java5Activity" />
        <activity android:name=".javaactivity.six.Java6Activity" />
        <activity android:name=".javaactivity.seven.Java7Activity" />
        <activity android:name=".javaactivity.eight.Java8Activity" />
        <activity android:name=".javaactivity.nine.Java9Activity" />
        <activity android:name=".javaactivity.ten.Java10Activity" />
        <activity android:name=".javaactivity.eleven.Java11Activity" />
        <activity android:name=".javaactivity.twelve.Java12Activity" />
        <activity android:name=".javaactivity.Java13Activity" />
        <activity android:name=".javaactivity.Java14Activity" />
        <activity android:name=".javaactivity.Java15Activity" />
        <activity android:name=".javaactivity.Java16Activity" />
        <activity android:name=".javaactivity.Java17Activity" />
        <activity android:name=".javaactivity.Java18Activity" />
        <activity android:name=".javaactivity.Java19Activity" />
        <activity android:name=".javaactivity.Java20Activity" />
        <activity android:name=".javaactivity.Java21Activity" />
        <activity android:name=".javaactivity.Java22Activity" />
        <activity android:name=".javaactivity.Java23Activity" />
        <activity android:name=".javaactivity.Java24Activity" />
        <activity android:name=".javaactivity.Java25Activity" />
        <activity android:name=".javaactivity.Java26Activity" />
        <activity android:name=".javaactivity.Java27Activity" />
        <activity android:name=".javaactivity.Java28Activity" />
        <activity android:name=".javaactivity.two.FirstBtnActivity" />
        <activity android:name=".javaactivity.two.SecondBtnActivity" />
        <activity android:name=".javaactivity.two.ThirdBtnActivity" />
        <activity android:name=".javaactivity.two.FourthBtnActivity" />
        <activity android:name=".javaactivity.two.FifthBtnActivity" />
    </application>

</manifest>