<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cuileikun.androidbase">

    <!-- 拨打电话权限 add by clk on -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 拨打电话权限 add by clk off -->
    <!-- 短信验证需要的权限start -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 短信验证需要的权限stop -->
    <!-- 发送短信需要的权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.AndroidBaseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity android:name=".activity.AndroidBaseActivity" />-->

        <activity android:name=".activity.first.AndroidBaseFirstActivity" />

        <activity android:name=".activity.AndroidBaseSecondActivity" />
        <activity android:name=".activity.second.DoXmlActivity" />
        <activity android:name=".activity.second.UserLoginDataActivity" />
        <activity android:name=".activity.second.FilePermissionActivity" />
        <activity android:name=".activity.second.UserLoginSdcardActivity" />
        <activity android:name=".activity.second.GetSdcardSizeActivity" />
        <activity android:name=".activity.second.UserLoginSpActivity" />
        <activity android:name=".activity.second.LogActivity" />

        <activity android:name=".activity.AndroidBaseThirdActivity" />
        <activity android:name=".activity.third.SqliteActivity" />
        <activity android:name=".activity.third.ListviewActivity" />
        <activity android:name=".activity.third.ContactActivity" />
        <activity android:name=".activity.third.ArrayAdapterActivity" />

        <activity android:name=".activity.AndroidBaseFouthActivity" />
        <activity android:name=".activity.fouth.YuanMaActivity" />
        <activity android:name=".activity.fouth.AnrActivity" />
        <activity android:name=".activity.fouth.LookPictureActivity" />
        <activity android:name=".activity.fouth.ModifyLookPictureActivity" />
        <activity android:name=".activity.fouth.HandlerActivity" />
        <activity android:name=".activity.fouth.NewsActivity" />
        <activity android:name=".activity.fouth.SmartImageViewActivity" />

        <activity android:name=".activity.AndroidBaseFivthActivity" />
        <activity android:name=".activity.fifth.LoginActivity" />
        <activity android:name=".activity.fifth.HttpClientActivity" />
        <activity android:name=".activity.fifth.AsyncHttpClientActivity" />
        <activity android:name=".activity.fifth.MoreThreadActivity" />
        <activity android:name=".activity.fifth.FreeMoreThreadActivity" />

        <activity android:name=".activity.AndroidBaseSixActivity" />
        <activity android:name=".activity.sixth.NewActivity" />
        <activity android:name=".activity.sixth.RenPinCalculatorActivity" />
        <activity android:name=".activity.sixth.AllMessageActivity" />
        <activity android:name=".activity.sixth.SendMessageActivity" />
        <activity android:name=".activity.sixth.LifeActivity" />
        <activity android:name=".activity.sixth.TransparentUseActivity" />
        <activity android:name=".activity.sixth.StartMethodActivity" />
        <activity android:name=".activity.sixth.Test2Activity" />
        <activity android:name=".activity.sixth.TestActivity">

            <intent-filter>
                <action android:name="com.itheima.testactivity" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="aa/bb"
                    android:scheme="itheima" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.itheima.testactivity" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="aa/bb1"
                    android:scheme="itheima1" />
            </intent-filter>


        </activity>
        <activity android:name=".activity.sixth.ResultActivity" />
        <activity android:name=".activity.sixth.ContactActivityThird" />
        <activity android:name=".activity.sixth.SmsTempleateActivity" />
        <activity android:name=".activity.sixth.TestActivit" />
        <activity
            android:name=".activity.sixth.SecondActivity"
            android:launchMode="singleInstance" />
        <!-- plugin findViewByMe-->
        <activity android:name=".activity.test.TestFindViewByMe" />

        <activity android:name=".activity.AndroidBaseSevenActivity" />
        <activity android:name=".activity.seventh.IpDialerActivity" />
        <activity android:name=".activity.seventh.ListenSdcardStateActivity" />
        <activity android:name=".activity.seventh.PowerSavingAssistantActivity" />
        <activity android:name=".activity.seventh.UninstallInstallActivity" />
        <activity android:name=".activity.seventh.PhoneRestartActivity" />
        <activity android:name=".activity.seventh.SendUnorderedBroadcastActivity" />
        <activity android:name=".activity.seventh.ReceiveUnorderedBroadcastActivity" />
        <activity android:name=".activity.seventh.XidadaFenRiceEightActivity" />
        <activity android:name=".activity.seventh.XidadaFenRiceActivity" />
        <activity android:name=".activity.seventh.SpecalBroadcasterActivity" />
        <activity android:name=".activity.seventh.ThemeStyleActivity" />
        <activity android:name=".activity.seventh.GlobalizationActivity" />
        <activity android:name=".activity.seventh.DialogActivity" />
        <activity android:name=".activity.seventh.FrameAnimationActivity" />

        <!--配置广播接收者  -->
        <receiver android:name=".brocastreceiver.OutGoingCallReceiver">
            <intent-filter>
                <!--调到了一个合适的频道  -->
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />

            </intent-filter>

        </receiver>


    </application>

</manifest>